<h1>{{Eat-Da-Burger}}</h1>

<ul>
  {{#each burger}}
  <li>{{<button type="submit">Submit</button>}}</li>
    <p>
      {{this.id}}. {{this.burger}}
      <textarea typeid="{{this.id}}" name="burger" placeholder="burger"></textarea>
      <button type="submit">Devour it!</button>
    </p>
  <li><
  {{/each}}
</ul>

var context = {
  items: [
    {name: "Cheese Burger", emotion: "Devour it!"},
    {name: "Veggie Burger", emotion: "Devour it"},
    {name: "Whopper", emotion: "Devour it"}
  ]
};

Handlebars.registerHelper('submit_button', function() {
  var emotion = Handlebars.escapeExpression(this.emotion),
      name = Handlebars.escapeExpression(this.name);
});


