<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>


<!-- <script src="https://code.jquery.com/jquery.js"></script>
	//<script src="/Users/ezdeharjaber/Documents/cwru/burger/public/assets/js/burgers.js"></script> -->