<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burger}}
    <li>
       <p>ID: {{this.id}}</p>
       <p>Burger: {{this.burger}}</p>
       <p>Devoured: {{devoured}}</p>
    </li>
  {{/each}}
</ul>

<div>
  <form action="/" method="GET">
    <textarea type="text" name="burger"></textarea>
    
    <button type="submit">Submit</button>
  </form>
</div>



