<h1>Eat-Da-Burger</h1>

<!-- Pass in data from server.js -->

<ul>
  {{#each burgers}}
    <li>
       <p>
                <span class="label">ID:</span> {{this.id}}
          Burger: {{this.id}}. {{this.burger}}

           <button data-id="{{this.id}}" class="delburger">Delete</button>
        </p> 
    </li>
  {{/each}}
</ul>

<div>
  <form action="/" method="GET">
  
    <textarea type="text" name="burger"></textarea> 
</div>
    <button type="submit">Submit</button>
</form>




 