<h1>Eat-Da-Burger</h1>

<ul>
  {{#each burgers}}
    <li>
       <p>
          Burger: {{this.id}}. {{this.burger}}

          <button data-burgerid="{{this.id}}" class="subburger">Submit</button>
        </p> 
    </li>
  {{/each}}
</ul>

<div>
  <form action="/" method="GET">
    <textarea type="text" name="burger"></textarea>

    <button type="submit">Submit</button>
  </form>
</div>

<script type="text/javascript">
  $(".subburger").on("click", function(event) {
    var id = $(this).data("burgerid");

    // Send the DELETE request.
    $.ajax("/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      movie: $("#addburger [name=movie]").val().trim()
    };

    // Send the POST request.
    $.ajax("/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("added new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updateburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedBurger = {
      movie: $("#updateburger [name=burger]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/burgers/" + id, {
      type: "PUT",
      data: updatedBurgers
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>


 