<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/Users/ezdeharjaber/Documents/cwru/burger/public/assets/css/styles.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/Users/ezdeharjaber/Documents/cwru/burger/public/assets/js/burgers.js"></script>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
